@font-face {
    font-family: "timeburner_regular";
    src: url(../font/timeburner_regular.ttf);
}

body{
	text-transform: none;
}

#splash{
    height: 100%;
	width: 100%;
    position: absolute;
    background-image: url(../img/splash.jpg);
    background-size: cover;
}


#splash h1{
	font-family: timeburner_regular;
	text-shadow: none;
	text-transform: none;
	color: #fff;  
	font-size: 7em;  
	vertical-align: middle;  
	position: relative;  
	top: 50%;  
	margin-top: -73px;
}

#items{
    text-align: center;
}

#items > .item{
    margin: 1em;
    background: cyan;
    height: 250px;
    line-height: 250px;
    position: relative;
}

#items .over{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

#items .over .left{
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
}

#items .over .right{
    height: 100%;  width: 50%;  display: inline-block;  
    float: right;
	
}