#page_share{}

#page_share .header{
    height: 30px;
}

#page_share h3{
    display: inline-block;
    float: left;
    font-size: 1.6em;
    line-height: 30px;
}

#page_share #upload{
    float: right;
    background-color: #ededed;  border-color: #ddd;  color: #333;  text-shadow: 0 1px 0 #f3f3f3;
    border-radius: .3125em;
    width: 8em;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#page_share .item-ctn{
    margin-top: 1.2em;
}

#page_share .item-ctn ul{
    display: inline-block;
    width: 100%;
}

#page_share .item-ctn ul li{
    height: 150px;
    width: 33.3%;
    background-image: url(../../sample/1.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-position: center;
    box-sizing: border-box;    
    -moz-box-sizing:border-box;    
    -webkit-box-sizing:border-box;            
    /* border: 1px solid rgb(255, 255, 255); */
    cursor: pointer;
    /* margin: 2px; */
    text-align: center;
}

/*#page_share .item-ctn ul li img{
    width: 100%;
}*/


/*사진 업로드 이미지*/
#page_share_upload{}

#page_share_upload .header{
    height: 30px;
}

#page_share_upload h3{
    display: inline-block;
    float: left;
    font-size: 1.6em;
    line-height: 30px;
    text-indent: 2px;
}

#page_share_upload #return{
    float: right;
    background-color: #ededed;  border-color: #ddd;  color: #333;  text-shadow: 0 1px 0 #f3f3f3;
    border-radius: .3125em;
    width: 8em;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 2px;
}

#page_share_upload form{
}

#page_share_upload .form{
    /* padding: 0 1em 0 1em; */
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: relative;
    top: 3em;
}

#page_share_upload .form ul{}

#page_share_upload .form ul li{
    line-height: 50px;
}

#page_share_upload .form ul li label{
    float: left;
    width: 25%;
    font-size: 1.3em;
    color: #FFF;
    text-indent: 2px;
}

#page_share_upload .form ul li input{
    height: 30px;
    width: 75%;
    text-indent: 1em;
    border-radius: .3125em;
}

#page_share_upload .form ul li .upload{
    display: inline-block;
    width: 75%;
    height: 30px;
    line-height: 0px;
    text-indent: 0px;
}

#page_share_upload .form ul li .photo-info{
    display: inline-block;
    
    margin-left: 10px;
    width: 120px;
}

#page_share_upload #submit{
    margin: 0 auto;
    width: 300px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 6em;
}